astroid==2.3.3
attrs==19.3.0
backcall==0.1.0
bleach==3.1.4
certifi==2019.11.28
chardet==3.0.4
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
idna==2.8
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jedi==0.16.0
Jinja2==2.11.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.0.0
jupyter-console==6.1.0
jupyter-core==4.6.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
mypy==0.761
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.0.4
notebook==6.0.3
pandocfilters==1.4.2
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.7.1
prompt-toolkit==3.0.3
ptyprocess==0.6.0
Pygments==2.5.2
pylint==2.4.4
pyrsistent==0.15.7
python-dateutil==2.8.1
pyzmq==19.0.0
qtconsole==4.7.0
QtPy==1.9.0
requests==2.22.0
Send2Trash==1.5.0
-e git+git@github.com:simiotics/mirror.git@69357664403e9114d7ae148df325ecac654f9602#egg=simiotics_mirror
six==1.14.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.3
tqdm==4.42.0
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.1
urllib3==1.25.8
wcwidth==0.1.8
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.11.2
